<?php

include("../../config.inc");

print "This page is to display stuff<BR>\n";

if ($pagetodisplay) {
   include("$htmlincdir/$pagetodisplay");
   print "<CENTER><A HREF=\"$PHP_SELF\">Back</A></CENTER>\n";
}
else {
	exec("find $htmlincdir/*", $lines);
   for ($i = 0; $i < count($lines); $i++ ) {
      if (is_file($lines[$i])) {
         $lines[$i] = ereg_replace($htmlincdir, "", $lines[$i]);
         print "<A HREF=\"$PHP_SELF?pagetodisplay=$lines[$i]\">$lines[$i]</A><BR>\n";
      }
   }
}

?>
