<?php

	include("../../config.inc");

	include("$dbfunctions/func_table_playlist.inc");
	include("$dbfunctions/func_table_mp3s.inc");

	$debug = 0;

	$playlist = new Playlist($debug);
	$mp3 = new Mp3($debug);
	
	if(!$delete) {
		$array = $playlist->getlist();
		if($array) {
			print "<form action=$PHP_SELF method=post>";
			print "<table>";
			for(reset($array); $key = key($array); next($array)) {
				$array2 = $mp3->get_info($key); 
				print "<tr><td><input type=checkbox name=delete[$array2[id]]>$array2[file_name]</td></tr>\n";
			}
			print "</table>";
			print "<input type=submit name=button value=\"Delete These Songs from the list\">";
			print "</form>";
		} else {
			print "There is nothing to delete<BR>\n";
		}
	} else {
		for(reset($delete); $key = key($delete); next($delete)) {
			$playlist->delete($key);
		}
		header("Location: $PHP_SELF");
	}


?>
