<?

# <LI>Daft Punk - Around The World<BR>(Requested 03/22/2000)<BR><BR>

include("../..//config.inc");
include("$functions/func_extra.inc");


if ($description && $filename) {

	if (addfoundrequest($description, $filename)) {
   title("Request Adding.");
	include("$htmlinc/header.inc");
		print "<A HREF=\"$PHP_SELF\">Back</A><BR>\n";
		print "Added sucessfully";
	}
	else {
   title("Request Adding.");
	include("header.inc");
		print "Something bad happened";
	}
}
else {
   printtitle("Request Adding.");
	include("header.inc");
	print "
	<CENTER>
	<FORM ACTION=\"$PHP_SELF\" METHOD=\"POST\">
	<TABLE>
		<TR>
			<TD>Filename: </TD>
			<TD><INPUT TYPE=text NAME=\"filename\" VALUE=\"$filename\"></TD>
		</TR>
		<TR>
			<TD>Request Description: </TD>
			<TD><INPUT TYPE=text NAME=\"description\" VALUE=\"$description\"></TD>
		</TR>
	</TABLE>
	<BR><FONT color=000000><INPUT TYPE=\"Submit\" NAME=\"status\" VALUE=\"Add\"></FONT>
	</FORM>
</BODY>
</HTML>";

}

?>
