<?php

include ("../config.inc");
include($INC[extra]);

#print access(Date("H"),$REMOTE_ADDR)."<BR>\n";

if (!(access() || (session_is_registered("auth") && $auth == 1) || $admin == 1)) {
      header("Location: http://mp3s.nilosplace.net/".$CONTENT[pages][login]);
      mailerror("Someone trying to get in during off hours.","Someone just going to the Mp3 downloads.","usage");
		exit;
}

if((str_replace('..', "", $lsd) == "$lsd") && is_file($MP3ROOT.stripslashes(rawurldecode($lsd)))) {
	sendfile($MP3ROOT.stripslashes(rawurldecode($lsd)));
	exit;
} else if ($lsd && (str_replace('..', "", $lsd) == "$lsd")) {
	$lsd = stripslashes(rawurldecode($lsd));
} else $lsd = "";



printheader();

print "
<CENTER>
<BR><BR><BR>
  <TABLE width=80%>
    <TR>
      <TD valign=top>
      <BR><BR><CENTER>\n";

if($lsd) print "<H2>".$lsd."</H2><A HREF=\"".$CONTENT[pages][download]."?lsd=".rawurlencode(dirname($lsd))."\">Back</A><BR>";
if (@is_file("$MP3ROOT$lsd/extra_html.inc")) include("$MP3ROOT$lsd/extra_html.inc");

print "<BR>\n\n\n";

/*
if (!(is_dir($MP3ROOT.$lsd))) {
		print "<FONT size=+3 color=\"FFFF00\"><BLINK>There was a really bad problem.</BLINK></FONT></TD></TR></TABLE>\n";
		print "The problem was the we cant open the current file or directory, dont worry this error is getting\n";
		print "emailed to me so i will fix it very soon\n";
		mailerror("There was a problem opening the current dir. There should not be a filename here.",$lsd,"file");
		exit;
}
*/


include($INC[mp3s]);

$mp3 = new MP3($debug);
$the_dir = @opendir($MP3ROOT.$lsd);
if(!$the_dir) {
	print "Mp3s not accessable at this time please try again later.<BR>\n";
} else {
	while($line = readdir($the_dir)) {
		$lines[] = $line;
	}
	closedir($the_dir);
	sort($lines);
}

for($i = 0; $i < count($lines); $i++) {
	$line = $lines[$i];
//while($line = readdir($the_dir)) {

	if (!($line == ".." || $line == "." || $line == "bin" || $line == "extra_html.inc")) {
		#print "This file is $line<BR>\n";
		$file = $MP3ROOT.$lsd."/".$line;
		#print "The file is $file<BR>\n";

		if (is_dir($file)) {
			$dirarray[] = $line;
		} elseif (is_file($file)) {
			$array = $mp3->get_id($line);
			if($array[id]) $ids[] = $array[id];
			else { $non_mp3s[] = $line; }
		} else {
			print "<FONT size=+3 color=\"FFFFFF\"><BLINK>There was a really bad problem.</BLINK></FONT>Check Permissions.</TD></TR></TABLE>";
		   mailerror("There was a problem with permissions on the current dir.",$lsd,"file");
			exit;
		}
	}
}


print "
<CENTER>
  <TABLE>
        <UL>\n";

if ($dirarray) {
	sort($dirarray);
	print "          <TR><TD>Directories:</TD></TR>\n";
	for ($key=0;$key<count($dirarray);$key++){
		$string = rawurlencode($lsd);
		$string .= rawurlencode("/");
		$string .= rawurlencode($dirarray[$key]);
		print "          <TR><TD><LI><A HREF=\"".$CONTENT[pages][download]."?lsd=$string\">";
		echo $dirarray[$key]."</A></TD></TR>\n";
	}
}
if($ids) $filearray = $mp3->get_sorted_list($ids);
if ($dirarray && $filearray) print "          <TR><TD><BR><BR></TD></TR>\n";
if ($filearray) { 
	print "<form action=\"".$CONTENT[pages][result]."?lsd=".rawurlencode($lsd)."\" method=post>";
	print "          <TR><TD>Files:</TD><TD>Size:</TD>";
	if($admin) print "<TD>Radio<BR>Playlist</TD>";
	print "</TR>\n";
	for ($key=0;$key<count($filearray);$key++){
		print "<TR>";
		print "          <TD><LI><A HREF=\"".$CONTENT[pages][result]."?download=".$filearray[$key][id]."\">";
		print $filearray[$key][filename]."</A></TD><TD>".number_format($filearray[$key][size]/(1024*1024), 2)."M</TD>";
		if($admin) print "<TD align=center><input type=checkbox name=\"playlist[".$filearray[$key][id]."]\"></TD></TR>\n";
	}
	print "          <TR><TD></TD><TD></TD>";
	if($admin) print "<TD><input type=submit name=button value=\"Add\"></TD>";
	print "</TR>\n";
	print "</form>";
}
if (($filearray || $dirarray) && $non_mp3s) print "          <TR><TD><BR><BR></TD></TR>\n";
if ($non_mp3s) {
	print "          <TR><TD>Extra Files:</TD></TR>\n";
	for($key=0;$key<count($non_mp3s);$key++) {
		$temp = rawurlencode($lsd."/".$non_mp3s[$key]);
		print "<tr><td><LI><a href=\"".$CONTENT[pages][download]."?lsd=$temp\">$non_mp3s[$key]</a></td></tr>\n";

	}
}


print "        </UL>\n    </TABLE>\n\n\n";


print "</TD>\n";

include($HTML[mp3info]);

print "\n\n    </TR>\n</TABLE>\n\n";
print("\n </BODY>\n</HTML>");
?>
