<?php

	include("../config.inc");
	include($INC[extra]);
	include($INC[message_board]);

	$message = new message_board($DEBUG);

	if($button && $array[id] && $array[message] && session_is_registered("username")) {
		$na = $message->get_info($array[id]);
		printheader($jsinc, 2);
		if($na[name] == $username || $admin == 1) {
			print "<CENTER><H1>Update Successful</H1></CENTER>";
			if(!$admin) {
				$array[subject] = strip_tags($array[subject]);
				$array[message] = strip_tags($array[message]);
			}
			$message->update($array[id], $na[name], $na[email], $array[subject], $array[message]);
		} else {
			print "<CENTER><H1>You can't modifiy other peoples posts.</H1></CENTER>";
		}
		printfooter("small");
	} else if($array[id] ) {
		$refer = $HTTP_REFERER;
		session_register("refer");
		$array = $message->get_info($array[id]);
		$array[message] = str_replace("<BR>\n", "", $array[message]);
		printheader();
		include($HTML[message_edit]);
		printfooter("short");
	} 
	else {
		if(!$refer) $refer = $CONTENT[pages][message_board_myposts];
		header("Location: $refer");
		session_unregister("refer");
	}


?>
