<?php

	include("../config.inc");

	$array = array("poll_votes", "poll_questions", "poll_answers", "logs", "extra");
	for($i = 0; $i < count($array); $i++) {
		if($DEBUG) print $INC[$array[$i]]."<BR>\n";
		include($INC[$array[$i]]);
	}

	$log = new LOGS($DEBUG);
	$log->update($REMOTE_ADDR, $HTTP_USER_AGENT);
	$votes = new POLL_VOTES($DEBUG);
	$ans = new POLL_ANSWERS($DEBUG);
	$poll_q = new POLL_QUESTIONS($DEBUG);


	if(($qid && $answer) || $view) {
		printheader($jsinc, 0);
	} else {
		header("Location: ".$CONTENT[pages][dormdownload]);
	}

	print "<BR><BR><CENTER>\n";

	if($question && $admin && $answer_array) {
		print "We have the stuff.<BR>\n";
		$qid = $poll_q->insert($question);
		$ans->insert($answer_array, $qid);
	}

	if($answer && $qid) {
		if($SIP || $admin) {
			if(!$votes->vote($REMOTE_ADDR, $qid, $answer)) {
				print "You have already voted.<BR>\n";
			}
		} else {
			print "You are not from southern... sorry you can't vote.<BR>\n";
		}
			print "<BR><BR><CENTER>\n";
		$ans->print_results($qid);
		print "<BR><a href=\"$PHP_SELF?view=polls\">Other Polls</a>\n";
	} elseif($view=="results" && $qid) {
		$ans->print_results($qid);
		print "<BR><a href=\"$PHP_SELF?view=polls\">Other Polls</a>\n";
	} elseif($view=="polls" && $qid) {
		$q_ar = $poll_q->get_info($qid);
?>
						<form action="<?php echo $CONTENT[pages][polls]; ?>" method=post>
						<table border=1 width=25%>
							<tr>
								<td align=center>Nilo Poll:
								</td>
							</tr>
							<tr>
								<td>
									<?php echo $q_ar[question]; ?>
								</td>
							</tr>
							<tr>
								<td>
									<?php echo $ans->print_options($q_ar[id]); ?>
								</td>
							</tr>
							<tr>
								<td><center>
									<input type=submit name=vote value="Vote">
									<a href="<?php echo $CONTENT[pages][polls]; ?>?view=results&qid=<?php echo $q_ar[id];?>">Results</a>
									<a href="<?php echo $CONTENT[pages][polls]; ?>?view=polls">Polls</a>
								</td>
							</tr>
						</table>
						</form>
		<?php

		#$ans->print_results($qid);
		#print "<BR><a href=\"$PHP_SELF?view=polls\">Other Polls</a>\n";
	} elseif($view) {

		$poll_q->print_last(10);

		if($admin) {

			print "
				<form action=\"$PHP_SELF?view=polls\" method=post>
					<table>
						<tr>
							<td>Question:</td>
							<td><input size=60 type=text name=question value=\"$question\"></td>
						</tr>
						<tr>
							<td>Answer1:</td>
							<td><input size=60 type=text name=answer_array[0] value=\"$answer_array[0]\"></td>
						</tr>
						<tr>
							<td>Answer2:</td>
							<td><input size=60 type=text name=answer_array[1] value=\"$answer_array[1]\"></td>
						</tr>
						<tr>
							<td>Answer3:</td>
							<td><input size=60 type=text name=answer_array[2] value=\"$answer_array[2]\"></td>
						</tr>
						<tr>
							<td>Answer4:</td>
							<td><input size=60 type=text name=answer_array[3] value=\"$answer_array[3]\"></td>
						</tr>
						<tr>
							<td>Answer5:</td>
							<td><input size=60 type=text name=answer_array[4] value=\"$answer_array[4]\"></td>
						</tr>
						<tr>
							<td>Answer6:</td>
							<td><input size=60 type=text name=answer_array[5] value=\"$answer_array[5]\"></td>
						</tr>
						<tr>
							<td>Answer7:</td>
							<td><input size=60 type=text name=answer_array[6] value=\"$answer_array[6]\"></td>
						</tr>
						<tr>
							<td>Answer8:</td>
							<td><input size=60 type=text name=answer_array[7] value=\"$answer_array[7]\"></td>
						</tr>
					</table><font color=000000>
					<input type=submit name=insert_button value=\"Insert\">
				</form>

			";
		}

	} 

?>
