<?php


	exec("ls $burned", $files);

print "<CENTER><H1>Burned Mp3 CD's</H1>

<BR><CENTER><TABLE width=100% border=0><TR>\n";
for($i = 0; $i < count($files); $i++) {
	
	print "    <TD valign=top align=center>
      <BR><FONT size=+1>$files[$i]</font><BR><BR>
      <TABLE border=1>\n";
	$lines = "";
	exec("cat $burned/$files[$i]", $lines);
		for($j = 0; $j < count($lines); $j++) {
			print "          <TR><TD>$lines[$j]</TD></TR>\n";
		}
	print "      </TABLE>\n";
	print "    </TD>\n";
	if(($i + 1) % 2 == 0) print "  </TR>\n  <TR>\n";
}
print "  </TR>\n</TABLE>";
print "<BR><BR>";

?>
