<BR><BR><CENTER>
<H1>Nilo's Chat</H1>
<TABLE width="100%" border=0>
<tr>
<td align=center bgcolor=black>
<font size=-1 color=cccccc>
Please grant the permission when the pop up window appears from Netscape and IE.<br>
</font>
</td>
</tr>


<TR><TD align=center>

<nobr>
<applet archive="./irc/jirc_nss.zip"  code=Chat.class 
width=800 height=600 >



<param name="CABBASE" value="./irc/jirc_mss.cab">


<param name="ServerPort" value="6667">
<param name="ServerName1" value="irc.blessed.net">
<param name="ServerName2" value="irc.lightning.net">
<param name="Channel1" value="nilosplace">
<param name="DisplayConfigServer" value="false">
<param name="DisplayConfigPort" value="false">
<param name="DisplayConfigChannel" value="false">

<!-- <param name="LicenseKey" value="3675057936-08830413283445342883340734606314852391-63830413283444342883340734606314852391-81666083638883820493088304132834639381668288935423239163"> -->
<param name="LicenseKey" value="3605275079-188328239326639381232328-668888865509099186696314048328236386288285341404348809-01349213340493449293777894566083136688779311198178679346936688888655090931281760831366881485064414043488">
<!-- <param name="LicenseKey" value="=v3:singlebelievers.com:6149400565936236108585074478577191250680317550152441632057032239954123293965326239905757004660243335422743814982978449573232684904405474026507431018396061"> -->

<param name="AllowURL" value="true">
<param name="AllowIdentd" value="true">
<param name="IgnoreMOTD" value="true">
<param name="IgnoreServerMsg" value="true">

<param name="WelcomeMessage" value="Welcome to Nilo's Java IRC chat!">
<param name="RealName" value="Your Name?">
<param name="NickName" value="Nick?">
<param name="UserName" value="jirc">
<param name="isLimitedServers" value="true">
<param name="isLimitedChannels" value="true">


<param name="BackgroundColor" value="32,64,32">
<param name="TextColor" value="green">
<param name="TextScreenColor" value="black">
<param name="ListTextColor" value="blue">

<param name="TextFontName" value="Arial">
<param name="TextFontSize" value="12">

<param name="LogoBgColor" value="black">
<param name="BorderVsp" value="3">
<param name="DirectStart" value="false">

<param name="FGColor" value="black">
<param name="TitleBackgroundColor" value="black">
<param name="TitleForegroundColor" value="white">


<param name="InputTextColor" value="green">
<param name="InputScreenColor" value="black">
<param name="IgnoreLevel" value="3">
</applet>
<p>

</TD></TR>
</TABLE>
</center>


</BODY>



</HTML>
