<BR><BR>

<center>

<table width=100% border=0>
	<tr>
		<td align=center>

			<table width=100% border=0>

				<tr>
					<td width=50%>
						Small Description:<BR>
						<?php echo $array[SmallDescription]; ?><BR><BR><BR>
						Large Description:<BR>
						<?php echo $array[LargeDescription]; ?>
					</td>
					<td>Picture:<BR><?php echo $array[Picture]; ?></td>

				</tr>

				<tr>
					<td>Price:<BR><?php echo $array[Price]; ?></td>
					<td>Category:<BR><?php echo $array[Name]; ?></td>
				</tr>

				<tr>
					<td>WebSite:<BR><a href="<?php echo $array[WebSite]; ?>"><?php echo $array[WebSite]; ?></a></td>
					<td>User Info:<BR>
						<table border=1>
							<tr>
								<td>User:</td>
								<td><?php echo $userarray[username]; ?></td>
							</tr>
							<tr>
								<td>Email Address:</td>
								<td><?php echo str_replace("@", " -- at -- ", $userarray[email]); ?></td>
							</tr>
							<tr>
								<td>Telephone:</td>
								<td><?php echo $userarray[telephone]; ?></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
