<BR><BR>
<center>
<table width=70%>
	<form action="<?php echo $PHP_SELF; ?>" method=post>
		<input type=hidden name=array[id] value="<?php echo $array[id]; ?>">
		<tr>
			<td>Small Description</td>
			<td><input type=text name=array[SmallDescription] value="<?php echo $array[SmallDescription]; ?>"></td>
		</tr>
		<tr>
			<td>Large Description</td>
			<td><textarea cols=80 rows=10 name=array[LargeDescription]><?php echo $array[LargeDescription]; ?></textarea></td>
		</tr>
		<tr>
			<td>Website</td>
			<td><input size=50 type=text name=array[WebSite] value="<?php echo $array[WebSite]; ?>"></td>
		</tr>
		<tr>
			<td>Picture Link</td>
			<td><input size=50 type=text name=array[Picture] value="<?php echo $array[Picture]; ?>"></td>
		</tr>
		<tr>
			<td>Price</td>
			<td><input type=text name=array[Price] value="<?php echo $array[Price]; ?>"></td>
		</tr>
		<tr>
			<td>Category</td>
			<td><?php $cats->PrintSelected($array[CategoryId]); ?></td>
		</tr>
		<tr>
			<td colspan=2 align=center>
				<?php
					if($array[id]) {
						?>
							<input type=submit name=update_button value="Update">
							<input type=submit name=delete_button value="Delete">
							<input type=submit name=cancel_button value="Cancel">
						<?php
					} else {
						?>
							<input type=submit name=create_button value="Create Add">
						<?php
					}
				?>
			</td>
		</tr>
	</form>
</table>
