<center>
	<h1>Classifieds</h1>

	<table border=1 width=100%>
		<tr>
			<td width=70%>Last 10 Things<BR><?php $class->PrintLast(100); ?></td>
			<td>&nbsp;
			</td>
		</tr>
		<tr>
			<td>&nbsp;
			</td>
			<td>&nbsp;
			</td>
		</tr>

	</table>
