<!-- Starting Main Body -->
<CENTER>
    <H1>Tell me what you think of my mp3s.</H1>
   <FORM METHOD=POST ACTION="<? echo $PHP_SELF; ?>">
      <TABLE>
         <TR>
            <TD>Your Handle:</TD>
            <TD><INPUT TYPE="TEXT" NAME="Handle" SIZE="30" VALUE="<? print $Handle; ?>"></TD>
         </TR>
         <TR>
            <TD>What you do in you spare time:</TD>
            <TD><INPUT TYPE="TEXT" NAME="Hobby" VALUE="<? print $Hobby; ?>"></TD>
         </TR>
         <TR>
            <TD>Your job:</TD>
            <TD><INPUT TYPE="TEXT" NAME="Job" SIZE="40" VALUE="<? print $Job; ?>"></TD>
         </TR>
         <TR>
            <TD>Your e-mail address:</TD>
            <TD><INPUT TYPE="TEXT" NAME="Email" SIZE="40" VALUE="<? print $Email; ?>"></TD>
         </TR>
       </TABLE>

        <BR>
        Any comments or suggestions you would like to make about my mp3s?<BR><TEXTAREA NAME="Comment" ROWS=6 COLS=56 VALUE="<? print $Comment; ?>"></TEXTAREA>
        <BR><BR>
        What did you like the best about the mp3s?

  <TABLE>
   <TR>
    <TD><INPUT TYPE="CHECKBOX" NAME="Liked1" VALUE="Amount">The Number of mp3s.</TD>
    <TD><INPUT TYPE="CHECKBOX" NAME="Liked2" VALUE="Variety">The Variety.</TD>
   </TR>
   <TR>
    <TD><INPUT TYPE="CHECKBOX" NAME="Liked3" VALUE="Organization">Organization.</TD>
    <TD><INPUT TYPE="CHECKBOX" NAME="Liked4" VALUE="Style">Page style.</TD>
   </TR>
  </TABLE>

        <P>Which would you like to see more of on my page?
       <FONT color=black>
        <SELECT NAME="Needed">
          <OPTION VALUE=Mp3s>More Mp3s
          <OPTION VALUE=Understand>Easier to understand
          <OPTION VALUE=Graphics>More graphics
          <OPTION VALUE=Videos>Music Videos
          <OPTION VALUE=Info>More info
          <OPTION VALUE=Links>More links
          <OPTION VALUE=UsefulStuff>More useful stuff
        </SELECT>
       </FONT>

 <P>Have you told any one about my mp3s?
 <INPUT TYPE="RADIO" NAME="Told" VALUE="Yes"> Yes
 <INPUT TYPE="RADIO" NAME="Told" VALUE="No"> No

 <P>Will you tell anyone about my mp3s?
 <INPUT TYPE="RADIO" NAME="WillTell" VALUE="Yes"> Yes
 <INPUT TYPE="RADIO" NAME="WillTell" VALUE="No"> No

 <BR><BR>
 <FONT color=black>
  <INPUT TYPE="SUBMIT" VALUE="Send Mail"> <INPUT TYPE="RESET" VALUE="Clear Form">
 </FONT>
</FORM>

If you want to email anything else my email address is: <A HREF="mailto:<?php echo $ADMINEMAIL1; ?>"><?php echo $ADMINEMAIL1; ?></a><BR><P>
<!-- Ending Main Body -->
