<center>
<BR><BR><BR>
	<?php echo $msg; ?>
	<table>
		<form action="<?php echo $PHP_SELF; ?>" method=post>
			<tr>
				<td>Username:</td>
				<td><input type=text name=array[username] value="<? echo $array[username]; ?>"></td>
			</tr>
			<tr>
				<td>Email:</td>
				<td><input type=text name=array[email] value="<? echo $array[email]; ?>"></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input type=password name=array[password1] value="<? echo $array[password1]; ?>"></td>
			</tr>
			<tr>
				<td>Confirm Password:</td>
				<td><input type=password name=array[password2] value="<? echo $array[password2]; ?>"></td>
			</tr>
			<tr>
				<td align=center colspan=2><input type=submit name=button value="Create Account"></td>
		</form>
	</table>
