<CENTER>
<BR><BR><BR>
<TABLE width=50%><tr><td>
<font size=+2>This site will not accessable from the outside.
The reason: The big bloated companies (RIAA, MPAA) have enough
money to take your rights away and most people happilly let them
do it. DON'T BUY MUSIC, download it for free! Then maybe someday
when these companies have no customers they will see the light.</font><BR>
</td>
</tr>
</table>
