<center>
<TABLE border=0 cellpadding=0 cellspacing=0 width=100% height=50%>
	<TR>
		<TD align=center valign=top width=50%>
			<TABLE width=80% border=0 cellpadding=0 cellspacing=0>
				<TR>
					<TD valign=top>
						<CENTER><H1>DORM File Search Page</H1></CENTER>
						<?php echo $infoblob; ?><BR>
					</TD>
				</TR>
			</TABLE>
		</td>
		<TD>
			<table border=0 width=100% height=150>
				<tr>
					<td valign=center align=center><center>
						<!--
						<FORM action="<?php echo $PAGES[result]; ?>" method=POST>
							<INPUT TYPE=text name=searchfor value='<?php echo stripslashes($searchfor); ?>'>
							<INPUT TYPE=submit name=Button value="Dorm Search">
							<select name=hits>
								<option value=10>10 Hits
								<option value=20>20 Hits
								<option value=30 SELECTED>30 Hits
								<option value=50>50 Hits
								<option value=100>100 Hits
								<option value=200>200 Hits
							</select>
							<INPUT type=hidden name=dorm value="1">
						</FORM>
						-->
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2>
			<table border=0 width=100%>
				<tr>
					<td width=33%><center>
						<?php # $logs->print_top10(); ?>
					</td>
					<td width=33%><center>
						<?php # $logs->print_last10(); ?>
					</td>
					<td valign=center><center><BR>
						<!--
						<form action="<?php #echo $PAGES[polls]; ?>" method=post>
						<table border=0 width=75%>
							<tr>
								<td align=center>Nilo Poll:
								</td>
							</tr>
							<tr>
								<td>
									<?php #echo $q_ar[question]; ?>
								</td>
							</tr>
							<tr>
								<td>
									<?php #echo $poll_a->print_options($q_ar[id]); ?>
								</td>
							</tr>
							<tr>
								<td><center>
									<input type=submit name=vote value="Vote">
									<a href="<?php #echo $PAGES[polls]; ?>?view=results&qid=<?php #echo $q_ar[id];?>">Results</a>
									<a href="<?php #echo $PAGES[polls]; ?>?view=polls">Polls</a>
								</td>
							</tr>
							<?php #if($q_ar[info]) { ?>
							<tr>
								<td><BR><BR>More poll info: <?php #echo $q_ar[info]; ?></td>
							</tr>
							<?php #} ?>
						</table>
						</form>
						-->
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td colspan=2 align=center>
			<table border=0 width=100%>
				<tr>
					<td width=50%><center>
						<?php #$logs->print_topmp3s(); ?>
					</td>
					<td><center>
						<?php #$logs->print_topmpgs(); ?>
					</td>
				</tr>
				<tr>
					<td width=50%><center>
						<?php #$logs->print_toppix(); ?>
					</td>
					<td><center>
						<?php #$logs->print_topeml(); ?>
					</td>
				</tr>
			</table>
		</td>

	</TR>
</TABLE>
