<!-- Starting Main Body -->
<BR><BR>
<CENTER>
<h1><font size=+7>Welcome</font></h1>
to <font size=+2>Nilosplace.net</font>
<BR><BR>
<a href="<?php echo $PAGES[info]; ?>">Other Mirrors of this site</a>
<!--
 <FORM ACTION="<?php echo $PAGES[result]; ?>" METHOD=POST> 
 	<INPUT type=hidden name=dorm value="1">
   <TABLE width=550 border=0 cellpadding=0 cellspacing=0>
     <TR>
       <TD align=center valign=top><IMG SRC="pix/mp<? print rand(1,$numofpictures); ?>.jpg" alt="Dorm" border=0>Dorm</TD>
       <TD align=center valign=center>
         <TABLE width=100% border=0 cellpadding=0 cellspacing=0>
           <TR>
             <TD ALIGN=CENTER VALIGN=CENTER>
               <INPUT TYPE=TEXT NAME="searchfor">
             </TD>
           </TR>
           <TR>
             <TD width=100%>
               <TABLE width=100% border=0 cellspacing=0 cellpadding=0>
                 <TR>
                   <TD VALIGN=CENTER><BR><CENTER><INPUT name=search type=submit value="Search"></TD>
                   <TD VALIGN=BOTTOM><CENTER>
                   </TD>
                 </TR>
               </TABLE>
             </TD>
           </TR>
         </TABLE>
       </TD>
     </TR>
   </TABLE><BR>
   <TABLE width=550 border=0 cellpadding=0 cellspacing=0>
     <TR>
       <TD ALIGN=CENTER VALIGN=CENTER>
         <TABLE width=100% border=0 cellpadding=0 cellspacing=0>
           <TR>
             <TD width=50% ALIGN=CENTER VALIGN=CENTER>
               <SELECT name=hits>
                 <option value=10 SELECTED>10 results
                 <option value=20>20 results
                 <option value=50>50 results
                 <option value=75>75 results
                 <option value=100>100 results
                 <option value=250>250 results
               </SELECT></TD>
             <TD ALIGN=CENTER VALIGN=CENTER><INPUT name=random type=submit value="Hit Me With an Mp3"></TD>
           </TR>
         </TABLE>
       </TD>
     </TR>
   </TABLE>
 </FORM>
-->
</CENTER>
<!-- Ending Main Body -->
