<!-- Starting Main Body -->
<CENTER>
<BR>
 <H2>Mp3 Database Engine</H2>
  <TABLE width=60% border=0>
   <TR>
    <TD><CENTER>

Well this "project" has now turned into an animal it has gotten out and hand as I add
more and more features but I think its coming along great. Well the people listed below
now don't have much to do with the site anymore so basicly its just me. Anyway the site
has taken on some new changes.<P><BR>

This is just a little project that <A HREF="mailto:admash@southern.edu">Moof</A>
and <A HREF="mailto:nilo@nilosplace.net">myself</A> are doing for practice to learn
more about <A HREF="http://www.php.net">PHP3</A>, <A HREF="http://www.mysql.com/">MySQL</A>,
and <A HREF="http://www.apache.org">Apache</A>. Shouts also go out to 
<A HREF="mailto:whcordis@southern.edu">Striker</A> for the other mp3s and bigger
harddrive than mine (not anymore). Infamous <A HREF="mailto:szemsta@southern.edu">Scott</A>
for all the pix, and some music videos. <A HREF="mailto:bootwizard@technolust.cx">Bootwizard</A>
thanx for the help with the naming of the mp3s, that was going to take forever. The 
<A HREF="mailto:pointer@vol.com">guy</A> on the couch for the moral support and getting this
idea going. Also Fenris just because hes cool and does something plus helps with hardware.<P><BR>


The <A HREF="<?php echo $PAGES[download]; ?>">download</A> is working for now. Accounts and Cookies will be
required for you to log in. This is done in order to keep track of what mp3s you want and for
security reasons. Uploads will be handled by the upload page, please be nice and upload.<P><BR>

If you want an account you need to email <A HREF="mailto:<?php echo $ADMINEMAIL1; ?>">me</A>.
Your request will be considered and then I will add you to the user list.  <P><BR>

Questions and Comments can be sent to the <A HREF="mailto:<?php echo $ADMINEMAIL1; ?>">same</A>
place.

</TD></TR>
</TABLE>
</CENTER>
<!-- Ending Main Body -->
