<!-- Starting Main Body -->
<CENTER>
<BR>
 <H2>Dorm Database Search Engine</H2>
  <TABLE width=60% border=0>
   <TR>
    <TD><CENTER>
<table><tr><td>
<H2>Mirrors</H2>
For those of you looking to download go to the following mirrors:<BR>
<BR>
<a href="http://cjwalters.us/">http://cjwalters.us</a><BR><BR>
<a href="http://dorm.jokervote.com">dorm.jokervote.com</a><BR><BR>
<BR>
		Well this site has been up for 4+ years now and its going good, I think the best part is the index.<BR>
<BR>
		Some real info:<BR>
I figured that now is as good of time as any to give a little desciption about the search engine.<BR>
<BR>
1. The search engine does support quotes single or double but the problem is the indexor only supports single word keywords so putting quotes around stuff will get you NOTHING... don't worry I am working on fixing this.
<BR><BR>
2. I am going to add scoring to the site, here is how it works. You will get a combined score, on a 1 to 10 scale on two things. How often your computer is up, and how often you move files around.
<BR><BR>
So if your computer is up all the time you will get a (10/10) host score if the files have stayed the same during those scans each file will get a (10/10) score. If I index your your computer is not there you get a -3. So if your host score was 8 its now 5.<BR><BR>
Composite score is:<BR><BR>each file score = (host_score/10)*(file_score/10)*100<BR><BR>so lets say you just rebooted your computer and I didn't get you on the index, but you have been up for like a month your score is (7/10)*(10/10) = 70. Now lets you say just moved a bunch of files around (10/10)*(1/10)*100 = 10 on those files you just moved around.
<BR><BR>
Moving a file. Puts that file score at 1, because I don't know how long its going to stay there. New files also get a score of 1.<BR>
Not getting indexed drops your host score by 3 points if you have 10 you get 7 if you have 2 you drop to 0.<BR>
New hosts start with a score of 1.
</td></tr></table>
<BR><BR><BR>



		Questions and Comments can be sent to <A HREF="mailto:<?php echo $ADMINEMAIL1; ?>"><?php echo $ADMINEMAIL1; ?></A>
</TD></TR>
</TABLE>
</CENTER>
<!-- Ending Main Body -->
