<!-- Starting Main Body -->
<CENTER>
<TABLE width=600>
  <TR>
    <TD align=center>
      <BR><BR>
		<table>
			<form action="<?php echo $PHP_SELF; ?>" method=post>
			<input type=hidden name=refer value="<?php echo $HTTP_REFERER; ?>">
			<tr>
				<td align=center>
					<h1>Login</h1><BR>
					<font color=ff0000><?php echo $msg; ?></font><BR><BR>
					Username: <input size=24 maxlength=32 type=text name=username value="<?php echo $username; ?>"><BR>
					Password: <input size=24 maxlength=32 type=password name=password value=""><BR><center>
					<input type=hidden name=download value="<?php echo $download; ?>">
					<input type=hidden name=classified value="<?php echo $classified; ?>">
					<input type=hidden name=random value="<?php echo $random; ?>">
					<input type=submit name=button value="Login"></center>
				</td>
			</tr>
			</form>
		</table><BR><BR>
		</td>
	</tr>
  <TR>
    <TD>
		<a href="<?php echo $CONTENT[pages][password_recover]; ?>">Forgotten Password</a><BR>
		<a href="<?php echo $CONTENT[pages][create_account]; ?>">Create A new Account</a>
	</TD>
  </TR>
</TABLE>

<!-- Ending Main Body -->

