<center>
<BR><BR>
<table border=0 width=50% cellspacing=20>
	<tr>
		<td>
			Ok here are the rules for moderation:
		</td>
	</tr>
	<tr>
		<td>
			1. People that use 4 letter words or symbols to make 4 letter words, should be DROPPED.
				Depending on the amount of slang/crude words thats where moderators shine, it will be up to you to handle those by deciding to drop or not.
		</td>
	</tr>
	<tr>
		<td>
			2. Sexually explict language should be DROPPED.
				Or the use of lots of sexual enuendos.
		</td>
	</tr>
	<tr>
		<td>
			3. If someone is making a lot of fun of someone. Or if its getting into something that other people don't need to know about.
				Example someone posted a question if people thought a certain person was hot of not. Quite a disscussion was started, the real person did not know about it, until they got on the board and read it. It was embarassing to the person the they personally emailed me to have the posts taken down and I did, try to watch out for this kind of thing.
		</td>
	</tr>
	<tr>
		<td>
			DROPPING notes:
				When you drop a message the whole sub tree under it will also disappear when the message gets to less then 50%
		</td>
	</tr>
	<tr>
		<td>
			%'s
				Each person has the power to move the "mod value" on a post by 10%. So if you drop it it will then go to 90% as so on till it gets less then 50% at which point it will disappear.<BR><BR>
				To check the posts in question click on the "Questionable Posts" link. That will show posts that other moderators have already dropped by some ammount. You can only drop a post once.
		</td>
	</tr>
	<tr>
		<td>
			I have implemented a way for people to bump up posts as well.
				This would mean that if you felt a moderator miss judged a post you can take your vote to push the post in the other direction. So if one person (moderator) does not like the post and another does, then the post does not move, then its up to the other moderators to deciede on the fate of the post.<BR>
				Not sure this is a good idea yet but we will see how it works out.
		</td>
	</tr>
	<tr>
		<td>
			More Rules:
				Just because you don't like a post or you think the persons opinion in the post is wrong, that DOES NOT mean you can drop the post. Free speech is going to be preserved at best on this site. If people are posting stuff that you don't agree with,  you still need to accept the post. The only reason to drop a post is if it violates the rules listed here.
		</td>
	</tr>
</table>
