<BR><BR>
<center>
	<table width=100% border=0>
		<tr>
			<td align=center><?php echo $msg; ?></td>
		</tr>
		<tr>
			<td align=center>
				Please read the Info before DROPPING any posts.
				<?php $mes->print_unmod($modarray[user_id]); ?>
			</td>
		</tr>
	</table>
</center>
<BR><BR>
