<BR><BR>
<CENTER><a href="<?php echo $PAGES[message_new]; ?>">Post a new Message</a></center><BR>
<CENTER><a href="<?php echo $PAGES[message_board]; ?>">Message Board</a></center>
<BR><BR>
<TABLE border=0 width=100%>
	<TR>
		<TD align=center>
			<TABLE>
				<TR>
					<TD align=center>
						<?php $message->print_myposts($start, $hits); ?>
						<?php $message->print_numbers($start, $hits); ?>
					</TD>
				</TR>
			</TABLE>
		</TD>
	</TR>
</TABLE>
