<BR><BR>
<TABLE border=0 cellpadding=0 cellspacing=0 width=100%>
	<tr>
		<td align=center>
			<table border=0 cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<font size=-1>Options:</font><BR>
						<table border=0 cellpadding=0 cellspacing=0>
							<tr><td>&nbsp;&nbsp;&nbsp;<font size=-1>Layout:</font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size=-1><a href="<?php echo $CONTENT[pages][message_board]; ?>">Normal</a></font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size=-1><a href="<?php echo $CONTENT[pages][message_board_list]; ?>">Straight List</a></font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size=-1><a href="<?php echo $CONTENT[pages][message_board_tree]; ?>">Expandable Tree</a></font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;<font size=-1>Posting:</font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size=-1><a href="<?php echo $CONTENT[pages][message_new]; ?>">New Message</a></font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size=-1><a href="<?php echo $CONTENT[pages][message_moderator_info]; ?>">Rules</a></font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;<font size=-1>Misc:</font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font size=-1><a href="<?php echo $CONTENT[pages][message_board_stats]; ?>">Stats</a></font></td></tr>
							<tr><td>&nbsp;&nbsp;&nbsp;<font size=-1>Search:</font></td></tr>
							<tr><td><form action="<?php echo $PAGES[message_board_search]; ?>" method=post><input type=text size=8 name=searchfor value="<?php echo $searchfor; ?>"></form></td></tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<td align=center>
			<?php $message->print_top_short(4); ?>
		</td>
		<td align=center>
			<?php $message->print_last_short(4); ?>
		</td>
	</tr>
	<tr>
		<td><font size=-1>Sponsors:</font></td>
	</tr>
	<tr>
		<td valign=top><BR><?php  if($adds) include($HTML[banner2]); else print "Happy Sabbath!!"; ?></td>
		<td colspan=2>
			<TABLE border=0 width=100%>
				<TR>
					<TD align=center>
						<TABLE border=0>
							<TR>
								<TD>
									<?php $message->print_last($start, $hits, 0, 0); ?>
								</TD>
							</TR>
						</TABLE>
						<?php $message->print_numbers($start, $hits); ?>
					</TD>
				</TR>
			</TABLE>
		</td>
	</tr>
</table>

