<BR><BR>
<CENTER>
	<FORM action="<?php echo $PHP_SELF; ?>" method=post>
	<INPUT type=hidden name=array[id] value="<?php echo $array[id]; ?>">
<TABLE border=1>
	<TR>
		<TD align=center><TABLE border=0><TR><TD>Name:</TD><TD><?php echo $array[name]; ?></TD></TR></TABLE></TD>
		<TD align=center><TABLE border=0><TR><TD>Email:</TD><TD><?php echo $array[email]; ?></TD></TR></TABLE></TD>
	</TR>
	<TR>
		<TD colspan=2 align=center><INPUT type=text name=array[subject] value="<?php echo $array[subject]; ?>"></TD>
	</TR>
	<TR>
		<TD colspan=2><TEXTAREA cols=80 rows=10 name="array[message]"><?php echo $array[message]; ?></TEXTAREA></TD>
	</TR>
	<TR>
		<TD align=center colspan=2><INPUT type=Submit name=button value="Update"></TD>
	</TR>
</TABLE>
	</FORM>
