<BR><BR>
<center>
<b><?php echo $array[subject]; ?></b><BR>
by <?php echo $array[name]; ?><BR><BR>
<table width=60% cellpadding=20 border=0>
	<tr>
		<td><?php echo $array[message]; ?><?php if($sig) print "<BR>$sig\n"; ?></td>
	</tr>
	<tr>
		<td>
			<?php 
				if($modarray) {
					print "<BR><table>";
					print "<tr><td>Moderators</td></tr>";
					print "<tr><td><a href=\"".$CONTENT[pages][message_moderators]."?array[id]=$array[id]&moder=1\">ACCEPT</a> this message.</td></tr>";
					print "<tr><td><a href=\"".$CONTENT[pages][message_moderators]."?array[id]=$array[id]&moder=0\">DROP</a> this message.</td></tr>";
					print "</table>";
				}
				if($admin) {
					print "<BR><table>";
					print "<tr><td>Admins</td></tr>";
					print "<tr><td>Not Sure what to put here yet.</td></tr>";
					print "</table>";
				}
			?>
		</td>
	</tr>
</table>
Posted on <?php echo Date("M d, Y, H:i a", convert_mysql_time($array[time])); ?><BR><BR>
<a href="<?php echo $PAGES[message_new]; ?>?rid=<?php echo $array[id]; ?>&start=<?php echo $start; ?>&hits=<?php echo $hits; ?>">Respond to this message</a><BR><BR>
<a href="<?php echo $PAGES[message_board]; ?>?start=<?php echo $start; ?>&hits=<?php echo $hits; ?>">Return to Index</a>

<BR><BR><BR><BR><BR>
