<BR><BR>
<center><h1><?php echo $array[subject]; ?></h1></center>
<center>
	<table width=70%>
		<tr>
			<td><?php echo $array[message]; ?><?php if($sig) print "<BR>$sig\n"; ?></td>
		</tr>
		<tr>
			<td>
				<?php 
					if($modarray) {
						print "<BR><table>";
						print "<tr><td>Moderators</td></tr>";
						print "<tr><td><a href=\"".$CONTENT[pages][message_moderators]."?array[id]=$array[id]&moder=1\">ACCEPT</a> this message.</td></tr>";
						print "<tr><td><a href=\"".$CONTENT[pages][message_moderators]."?array[id]=$array[id]&moder=0\">DROP</a> this message.</td></tr>";
						print "</table>";
					}

					if($admin) {
						print "<BR><table>";
						print "<tr><td>Admins</td></tr>";
						#print "<tr><td>Poster Info:<BR>$array[ip]<BR>".gethostbyaddr($array[ip])."</td></tr>";
						print "<tr><td>Poster Info:<BR>$array[ip]<BR></td></tr>";
						print "</table>";
					}
				?>
			</td>
		</tr>
		<tr>
			<td><BR><BR>
				<font size=-1>
					<?php $message->print_tree($id, 0); ?>
				</font>
			</td>
		</tr>
	</table>
<BR><BR>
Posted on <?php echo Date("M d, Y, H:i a", convert_mysql_time($array[time])); ?> by: <a href="mailto:<?php echo $array[email]; ?>"><?php echo $array[name]; ?></a><BR><BR>
<a href="<?php echo $PAGES[message_new]; ?>?rid=<?php echo $array[id]; ?>&start=<?php echo $start; ?>&hits=<?php echo $hits; ?>">Respond to this message</a><BR><BR>
<a href="<?php echo $PAGES[message_board_top_threads]; ?>?start=<?php echo $start; ?>&hits=<?php echo $hits; ?>">Return to Top Threads</a>


</center>
