<BR><BR>
<TABLE border=0 width=100%>
	<tr>
		<td align=center>
			<a href="<?php echo $PAGES[message_new]; ?>">Post a new Message</a><BR><BR>
			<a href="<?php echo $PAGES[message_board_list]; ?>">Message Board List</a> (Old Version)<BR><BR>
			<form action="<?php echo $PAGES[message_board_search]; ?>" method=post>
				<input type=text name=searchfor value="<?php echo $searchfor; ?>">
				<input type=submit name=button value="Search">
			</form><a href="<?php echo $PAGES[message_board_stats]; ?>">Misc Stats</a>
		</td>
		<td align=center>
			<?php $message->print_top_short(4); ?>
		</td>
		<td align=center>
			<?php //$message->print_last_short(4); ?>
		</td>
	</tr>
</table>
<BR>
<TABLE border=0 width=100%>
	<TR>
		<TD align=center>
			<TABLE border=1>
				<TR>
					<TD>
						<script>initializeDocument()</script>
						<noscript>
							A Message Thread Tree will open here if you enable JavaScript in your browser.
						</noscript>
					</TD>
				</TR>
			</TABLE>
			<?php $message->print_numbers($start, $hits); ?>
		</TD>
	</TR>
</TABLE>
