<BR><BR>
<TABLE border=0 width=100%>
	<tr>
		<td align=center width=50%>
			<?php $message->print_most_posted(10); ?>
		</td>
		<td align=center rowspan=2>
			<?php $message->print_top_users(20); ?>
		</td>
	</tr>
	<tr>
		<td align=center><?php $message->stats(); ?></td>
	</tr>
</table>
<BR>
<CENTER>
<BR><BR>
<a href="<?php echo $PAGES[message_board]; ?>?start=<?php echo $start; ?>&hits=<?php echo $hits; ?>">Return to Index</a>
