<BR><BR>
<table height=400 width=100% border=0>
	<tr>
		<td align=center>
			<table border=0 width=80% height=100%>
				<tr>
					<td align=left><?php if($rid) print "Respond to this message."; else print "Post new message."; ?></td>
					<td align=right>
						<a href="<?php echo $PAGES[message_board]; ?>?start=<?php echo $start; ?>&hits=<?php echo $hits; ?>">Return to Index</a>
					</td>
				</tr>
				<tr>
					<td colspan=2 align=center>
						<font color=ff0000><?php echo $msg; ?></font>
						<BR><BR>
						<table border=0>
							<form action="<?php echo $PHP_SELF; ?>" method=post>
								<input type=hidden name=start value=<?php echo $start; ?>>
								<input type=hidden name=hits value=<?php echo $hits; ?>>
								<input type=hidden name="array[pid]" value="<?php echo $outarray[id]; ?>">
								<?php if($array[pid]) { ?>
								<tr>
									<td align=right valign=top nowrap>Original Message</td>
									<td>
										<font color="FFFFFF">
											<u><li id="foldheader"><?php echo $outarray[subject]; ?></li></u>
										</font>
										<ul id=foldinglist style='{display:none}'>
											<table border=0 cellpadding=4 width=350>
												<tr>
													<td><font face="Verdana"  size=2><?php echo $outarray[name]; ?><br>Posted <?php echo Date("M d, Y, H:i a", $outarray[time]); ?></i><br><br><?php echo $outarray[message]; ?></td>
												</tr>
											</table>
										</ul>
									</td>
								</tr>
								<?php } ?>
								<tr>
									<td align=center>Your Name</td>
									<td><input size=50 maxlength=50 type=text name="array[name]" value="<?php echo $username; ?>"></td>
								</tr>
								<tr>
									<td align=center>Your Email<BR><font size=2>(Optional)</font></td>
									<td><input size=50 maxlength=50 type=text name="array[email]" value="<?php echo $email; ?>"></td>
								</tr>
								<tr>
									<td align=center>Message Subject</td>
									<td><input size=50 maxlength=50 type=text name="array[subject]" value="<?php echo $array[subject]; ?>"></td>
								</tr>
								<tr>
									<td align=center>Message Text</td>
									<td><textarea name="array[message]" cols=55 rows=15 wrap=virtual><?php echo $array[message]; ?></textarea></td>
								</tr>
								<tr>
									<td colspan=2 align=center>
										<table>
											<tr>
												<td align=center><!-- <input name=preview type=submit value="Preview">--> </td>
												<td align=center><input name=respond type=submit value="Respond"></td>
											</tr>
										</table
									</td>
								</tr>
							</form>

						</table>
					</td>
			</table>
		</td>
	</tr>
</table>
<BR><BR>
