<!--

Top 5 downloaded files.<BR>
<HR align=left width=50%>
<BR>
<?php
	include($INC[top_downloaded]);
	$top = new TOPDOWNLOAD($debug);
	$array = $top->get_list();
	print "<table>";
	for(reset($array); $key = key($array); next($array)) {
		print "<tr><td>$key</td><td>$array[$key]</td>";
	} print "</table>";
?>
<BR><BR>
Points of Interrest<BR>
<HR align=left width=50%>
<BR>
<?php  printlife(); ?>



<BR><BR>
File Space<BR>
<HR align=left width=50%>

<?php
/*
print "<BR>\n";
print number_format($totalmp3s)." mp3s. ".number_format($totalsize)." bytes of mp3s.<BR><BR>\n";
print number_format($totalvids)." videos. ".number_format($totalvidsize)." bytes of Music Videos.<BR><BR>\n";
print number_format($totalmovies)." movies. ".number_format($totalmoviesize)." bytes of Movies.<BR><BR>\n";
print number_format($totalmoviesize + $totalsize + $totalvidsize)." total bytes of media.<BR><BR>";
*/
?>

</CENTER>
<BR><P>

-->
