<BR><BR>
<center>
<table border=0 width=80%>
	<tr>
		<td align=center>
			<?php $class->PrintUsers($username); ?>
		</td>
	</td>

	<tr>
		<td align=center>
			<a href="<?php echo $CONTENT[pages][classified_new]; ?>">Insert</a> a new Add
		</td>
	</tr>
</table>
