<BR><BR><BR>
This page if for you to upload any picture that you wouldn't mind SAU and possablely the rest of the World seeing.

I will automatically generate 3 pictures. 1 the original will be stored at 1024 x 1024, 2 will be 400 x 400 and the thumb will be 150 x 150, the aspect ratio will be persurved.

	<form method="post" enctype="multipart/form-data" action="<?php echo $PHP_SELF; ?>">
		<input type="hidden" name="MAX_FILE_SIZE" value="8388608">
	File:
		<input type="file" name="file1" size="90"><br><BR>
		<input type="submit" value="Upload Picture" name=button>
	</FORM>
