<center>
<BR><BR>
<table>
	<form action="<?php echo $PHP_SELF; ?>" method=post>
		<input type=hidden name=array[ref] value="<?php echo $HTTP_REFERER; ?>">
	<tr>
		<td>Username:</td>
		<td><?php echo $username; ?></td>
	</tr>
	<tr>
		<td>Email:</td>
		<td><input type=text name=array[email] value="<?php echo $array[email]; ?>"></td>
	</tr>
	<tr>
		<td>Telephone:</td>	
		<td><input maxlength=13 size=13 type=text name=array[telephone] value="<?php echo $array[telephone]; ?>"></td>
	</tr>
	<tr>
		<td>Message Board<BR>Signature:</td>
		<td>
			<textarea maxlength=64 size=64 cols=30 rows=3 name=array[sig]><?php echo $array[sig]; ?></textarea>
		</td>
	</tr>
	<tr>
		<td colspan=2 align=center>
			<table>
				<tr>
					<td align=right><input type=submit name=Save value="Save"></form></td>
					<td align=left><form action="<?php echo $HTTP_REFERER; ?>"><input type=submit name=Cancel value="Cancel"></form></td>
				</tr>
			</table>
		</td>
	</tr>
</table>
