<!-- Starting Main Body -->
<center>Some of these requests I get at the wee hours of the morning so if<BR>
   you find something that doesn't match or is wrong please tell me about it.<BR>
   Also after i have found i will leave them here for two weeks after that they<BR>
   are going to get moved to please dont rerequest them look first to see if i got them.<BR>
<BR><BR>
<TABLE border=0 width=100%>
  <TR>
    <TD valign=top width=50%><CENTER>
      <TABLE width=80% border=1>
        <TR>
          <TD><CENTER>
       <H2>Found Requests</H2>
       Click <A HREF="<?php echo $PAGES[download]; ?>?lsd=<?php echo urlencode("/Found Requests"); ?>">here</A> for old found requests.<BR><BR>
         <?php $request->display("found"); ?>
          </TD>
        </TR>
      </TABLE>
    </TD>
    <TD valign=top>
     <CENTER>
      <TABLE border=0 width=100%>
   <TR>
     <TD><CENTER>
      <TABLE valign=bottom width=60% border=1>
        <TR align="right" valign=top>
          <TD><CENTER>
            <H2>Please Submit any MP3 requests.</H2><BR>
            Also remember to make requests understandable and clear
            so that we know what you want. This will aid us
            in getting the mp3s for you.<BR>
            <FORM ACTION="<?php echo $PAGES[requests]; ?>" METHOD=POST>
              <INPUT TYPE=TEXT size=20% NAME="req" value=""><BR><BR>
              <INPUT TYPE="Submit" NAME="status" VALUE="AddRequest">
            </FORM>
          </TD>
        </TR>
      </TABLE><BR><BR>
      <TABLE border=1 width=85%>
      <TR>
        <TD>
       <CENTER>
       <H2>Current Requests</H2><BR>
           <!-- Starting Include from requests file -->
      <?php $request->display("notfound"); ?>
      <!-- Ending Include from requests file -->
        </TD>
      </TR>
         </TABLE>
          </TD>
        </TR>
      </TABLE>
    </TD>
  </TR>
</TABLE>
