<BR><BR>
<table cellspacing=0 cellpadding=0 border=0 width=100%>

	<tr>
		<td align=center>
			<h1>New sharing concept...</h1> I can't index the dorm anymore but I still want to develop the indexor.<BR>
			So here is an alturnitive. You come to this site from the computer you want to get scanned.<BR>
			You click on the link that says "I want my computer to be scanned" this will add you to my<BR>
			"scanning list" of those computers that are on the list I will scan them. This list will be<BR>
			open to the world if you don't want things to show up DON'T share them. I will not be held<BR>
			responsible for the contents that are on your computer. I will also not be held respoceable<BR>
			if the RIAA uses this site. If they use this site and find stuff on your computer that is<BR>
			"illegal" that is your problem not mine.<BR>
			<BR>
			This site will require you to have windows sharing open, or an open share that has NO password.<BR>
			other then that happy sharing.<BR>
			<BR><BR>
			Sorry southern this site WILL NOT work for you becuase your administrators have put you behind<BR>
			a firewall that does not allow me to scan you.<BR>
			<BR>
			Also there will be a link to remove your computer from the "scanning list" so at anytime if you<BR>
			don't want to be scanned just click on the link to get removed.<BR>
			<BR>Click <a href="IndeXor/">Here</a> to begin.
		</td>
	</tr>

</table>
