<CENTER>
<H2>Thank you for your comments.</H2>
This site is far from being done but thanx for the support and<P>
suggestions. Keep sending us email we want to here from you.<P>
Click <A HREF="<? echo $WEBSITEURL; ?>">here</A> to go back and get some more mp3s.
<BR><P>
<META HTTP-EQUIV="REFRESH" content="10; URL=<? echo $WEBSITEURL; ?>">
